<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:outputStylesheet>
.default {
	font-size: 11px;
	cursor: pointer;
	width: 100px;
	border: 1px solid gray;
	padding: 2px
}

.rf-ind-drag.default {
	padding-left: 30px;
	background-image:
		url("#{facesContext.externalContext.requestContextPath}/images/dnd/default.gif");
	background-position: 5px;
	background-repeat: no-repeat;
}

.rf-ind-drag.accept {
	background-image:
		url("#{facesContext.externalContext.requestContextPath}/images/dnd/accept.gif");
	background-position: 5px;
	background-repeat: no-repeat;
	border: 2px solid green
}

.rf-ind-drag.reject {
	border: 2px solid red;
	background-image:
		url("#{facesContext.externalContext.requestContextPath}/images/dnd/reject.gif");
	background-position: 5px;
	background-repeat: no-repeat;
}
</h:outputStylesheet>
	<h:head>
		<title>Metricando</title>
	</h:head>
	<f:view>
		<h:body>
			<h:form id="form">

				<rich:notifyMessages id="messages" stayTime="4000"
					nonblocking="true" />
				<h:inputHidden binding="#{SistemaController.initView}" />
				<rich:panel header="Comparar Sistemas" id="tabCompSistemas">

					<rich:dragIndicator id="ind" acceptClass="accept"
						rejectClass="reject" draggingClass="default">
        					Arraste o item para a area disponivel
    					</rich:dragIndicator>

					<h:form>
						<h:panelGrid columns="2" style="width:100%;">

							<rich:panel id="sistemas" style="width:100%;">
								<f:facet name="header">
									<h:outputText value="Sistemas Disponiveis" />
								</f:facet>
								<div
									style="overflow: auto; max-height: 300px; height: 300px; width: 100%;">

									<rich:dropTarget acceptedTypes="rm" dropValue="rm"
										dropListener="#{SistemaController.processDrop}"
										render="src,tar" />

									<rich:dataTable var="item" id="src"
										value="#{SistemaController.sistemas}" style="width:100%;">

										<rich:column>

											<rich:dragSource id="dragSource" type="add"
												dragValue="#{item}" dragIndicator="ind" />

											<a4j:param name="label" value="#{item.nome}" />

											<a4j:outputPanel layout="block">
												<h:outputText id="outputText1" value="#{item.nome}" />
											</a4j:outputPanel>

										</rich:column>
									</rich:dataTable>
								</div>
							</rich:panel>

							<rich:panel id="sistemasComp" style="width:100%;">
								<f:facet name="header">
									<h:outputText value="Sistemas á Comparar" />
								</f:facet>
								<div style="overflow: auto; max-height: 300px; height: 300px;">
									<rich:dropTarget id="dropTarget1" acceptedTypes="add"
										dropValue="add"
										dropListener="#{SistemaController.processDrop}"
										render="src,tar" />

									<rich:dataTable value="#{SistemaController.listaTarget}"
										id="tar" style="width:100%;" var="item">

										<rich:column>
											<rich:dragSource type="rm" dragValue="#{item}"
												dragIndicator="ind" />
											<h:outputText value="#{item.nome}" />
										</rich:column>
									</rich:dataTable>
								</div>
							</rich:panel>

						</h:panelGrid>
						<div align="center">
							<a4j:commandButton value="Cancelar"
								action="#{SistemaController.limpaSistemas}" />
							<a4j:commandButton value="Selecionar Metricas" rendered="false"
								style="align:rigth;" render="richTabPanel" />
							<span style="width: 5px;" />
							<a4j:commandButton
								value="Finalizar Utilizando todas caracteristicas"
								oncomplete="#{rich:component('cadPesos')}.show(); return false;">
								<f:setPropertyActionListener
									value="#{SistemaController.listaTarget}"
									target="#{AvaliacaoController.sistemas}" />
							</a4j:commandButton>
						</div>
					</h:form>
				</rich:panel>
			</h:form>

			<rich:popupPanel id="cadPesos" width="250" height="300">

				<h:form>
					<f:facet name="header">
						<h:outputText value="Cadastrar Pesos" />
					</f:facet>
					<f:facet name="controls">
						<h:outputLink value="#"
							onclick="#{rich:component('cadPesos')}.hide(); return false;"
							style="color: inherit">
                				X
          				 </h:outputLink>
					</f:facet>

					<div align="center">
						<rich:dataTable value="#{SistemaController.listaCaracteristicas}"
							var="car">
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Descrição" />
								</f:facet>
								<h:outputText value="#{car.descCaracteristicas}" />
							</rich:column>

							<rich:column>

								<f:facet name="header">
									<h:outputText value="Peso" />
								</f:facet>

								<rich:inputNumberSpinner maxValue="100" minValue="0" step="1"
									value="#{car.pesoCaracteristicas}" />

							</rich:column>
						</rich:dataTable>
					</div>

					<div align="center">
						<a4j:commandButton value="Cancelar"
							onclick="#{rich:component('cadPesos')}.hide(); return false;">
							<f:setPropertyActionListener value="#{null}"
								target="#{AvaliacaoController.sistemas}" />
						</a4j:commandButton>
						<a4j:commandButton value="Comparar"
							action="#{AvaliacaoController.comparar}" render="@this"
							oncomplete="#{rich:component('cadPesos')}.hide(); return false;">

							<f:setPropertyActionListener
								value="#{SistemaController.listaCaracteristicas}"
								target="#{AvaliacaoController.listaCaracteristicas}" />

						</a4j:commandButton>
					</div>
				</h:form>
			</rich:popupPanel>

		</h:body>
	</f:view>
</ui:composition>