<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:outputStylesheet>
.default {
	font-size: 11px;
	cursor: pointer;
	width: 100px;
	border: 1px solid gray;
	padding: 2px
}

.rf-ind-drag.default {
	padding-left: 30px;
	background-image:
		url("#{facesContext.externalContext.requestContextPath}/images/dnd/default.gif");
	background-position: 5px;
	background-repeat: no-repeat;
}

.rf-ind-drag.accept {
	background-image:
		url("#{facesContext.externalContext.requestContextPath}/images/dnd/accept.gif");
	background-position: 5px;
	background-repeat: no-repeat;
	border: 2px solid green
}

.rf-ind-drag.reject {
	border: 2px solid red;
	background-image:
		url("#{facesContext.externalContext.requestContextPath}/images/dnd/reject.gif");
	background-position: 5px;
	background-repeat: no-repeat;
}
</h:outputStylesheet>
	<h:head>
		<title>Metricando</title>

	</h:head>
	<f:view>
		<h:body>
			<h:form id="form">

				<rich:tabPanel switchType="server" id="richTabPanel">
					<div align="center">
						<rich:tab header="Cadastro de Sistemas">

							<rich:panel style="width:100%;" id="panelCaracteristicas">
								<h:form id="form1">
									<h:panelGrid columns="2">
										<h:outputText value="Nome:" />
										<h:inputText value="#{SistemaController.sistema.nome}"
											id="nome" />
									</h:panelGrid>

									<f:facet name="header">
										<h:outputText value="Caracteristicas" />
									</f:facet>

									<rich:dataTable id="dataTable"
										value="#{SistemaController.listaCaracteristicas}" var="car"
										style="width:800px;">

										<rich:column colspan="2" style="background-color:#d3d3d3;">
											<f:facet name="header">
												<h:outputText value="Descrição" />
											</f:facet>

											<rich:collapsibleSubTableToggler for="collapsi" />
											<h:outputText value="#{car.descCaracteristicas}" />

										</rich:column>

										<rich:column style="background-color:#d3d3d3;" width="100px">
											<f:facet name="header">
												<h:outputText value="Nota Total" />
											</f:facet>

											<rich:inputNumberSpinner step="1" maxValue="5" minValue="0"
												rendered="false" value="#{car.notaCaracteristica}" />

											<h:message for="peso" style="color:red;margin:8px;" />
										</rich:column>

										<rich:collapsibleSubTable id="collapsi" rendered="true"
											value="#{car.subCaracteristicas}" var="sub">
											<rich:column>
												<h:outputText value="#{sub.descSubCaracterisca}" />
											</rich:column>

											<rich:column colspan="2" width="100px">
												<rich:inputNumberSpinner step="1" maxValue="5" minValue="0"
													value="#{sub.notaSubcaracteristica}" />
											</rich:column>
										</rich:collapsibleSubTable>
									</rich:dataTable>
									<rich:notifyMessages id="messages" stayTime="4000"
										nonblocking="true" />
									<div align="center">
										<a4j:commandButton value="Calcelar" />
										<span style="width: 10px;" />
										<a4j:commandButton value="Salvar" id="buttonSend"
											action="#{SistemaController.salvarSistema}"
											render="dataTable,nome" />
										<span style="width: 10px;" />
										<a4j:commandButton value="Comparar Sistemas" render="form"
											action="comparar?faces-redirect=true">
										</a4j:commandButton>

									</div>
								</h:form>
							</rich:panel>
						</rich:tab>

						<rich:tab header="Sistemas" id="tabSistema">

							<div align="center">
								<rich:dataTable style="width:500px; heigth:100%;"
									value="#{SistemaController.sistemas}" var="sist">

									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="ID" />
										</f:facet>
										<h:outputText value="#{sist.id}" />
									</rich:column>

									<rich:column>
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<h:outputText value="#{sist.nome}" />
									</rich:column>
								</rich:dataTable>
							</div>
						</rich:tab>
					</div>
				</rich:tabPanel>

			</h:form>
		</h:body>
	</f:view>
</ui:composition>