<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<h:head>
		<title>Metricando</title>
	</h:head>
	<f:view>
		<h:body>
			<h:form id="form">

				<rich:dataTable style="width:100%;"
					value="#{AvaliacaoController.sistemas}" var="item">

					<rich:column
						style="background-color:#{item.melhorSistema ? 'RED':''};">
						<f:facet name="header">
							<h:outputText value="Sistema" />
						</f:facet>
						<h:outputText value="#{item.nome}" />
					</rich:column>
					<rich:column
						style="background-color:#{item.melhorSistema ? 'RED':''};">

						<rich:dataTable value="#{item.listaAvaliacao}" var="sub"
							style="width:100%">

							<rich:column
								style="background-color:#{item.melhorSistema ? 'RED':''};">
								<f:facet name="header">
									<h:outputText value="Descrição" />
								</f:facet>
								<h:outputText value="#{sub.descCaracteristicas}" />
							</rich:column>

							<rich:column
								style="background-color:#{item.melhorSistema ? 'RED':''};">
								<f:facet name="header">
									<h:outputText value="Resultado" />
								</f:facet>
								<h:outputText value="#{sub.somaNotas}" />
							</rich:column>
						</rich:dataTable>
						<div align="center" style="text-color: red;">
							<h:outputText value="Total = " />
							<h:outputText value="#{item.mediaNotas}" />
						</div>
					</rich:column>
				</rich:dataTable>

				<div align="center">
					<a4j:commandButton value="Realizar nova Avaliação"
						action="comparar?faces-redirect=true" />
				</div>

			</h:form>
		</h:body>
	</f:view>
</ui:composition>